.jump {
  @apply flex items-center text-sm font-bold;

  span {
    @apply mr-2 ml-14;
  }

  .inputJumper {
    @apply h-10 w-[3.125rem] px-3 py-1 #{!important};

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      appearance: none !important;
      margin: 0 !important;
    }
  }
}
