@import '../../styles/variable.scss';
.formFilter {
  :global {
    .ant-select-selector,
    .ant-input,
    .ant-btn {
      border-radius: 4px !important;
    }
  }

  .btnSearch {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #487ca5;
    border-color: #487ca5;
  }
}

.btnNew {
  border-radius: 4px !important;
  background-color: #487ca5;
  border-color: #487ca5;
  color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;

  &:hover {
    border-color: #487ca5 !important;
    color: #fff !important;
  }
}

.tableInquiry {
  :global {
    .ant-table-thead > tr > th {
      background: #fff;
      color: $color-text-primary;
      border-bottom-color: $color-text-primary;
      border-top: 1px solid $color-text-primary;
      border-start-start-radius: 0px !important;
      border-start-end-radius: 0px !important;
    }

    .ant-table-row {
      cursor: pointer;
    }

    .ant-table-wrapper
      .ant-table-thead
      > tr
      > th:not(:last-child):not(.ant-table-selection-column):not(
        .ant-table-row-expand-icon-cell
      ):not([colspan])::before {
      width: 0;
    }
  }
}

.popup {
  :global {
    .ant-select-item-option-state {
      visibility: hidden;
    }
  }
}

.btnCf {
  display: none;
}
